/*background image*/
.background {
	background-image: url("../images/pokemonMap.png");
	background-size: 100% 100%;
	position:fixed;
	z-index:1;
	height:100%;
	left: 0;
	right:0;
}

/*Main Body CSS*/

body {
	position:relative;
	z-index: 2;
}

html {
	height:100%;
}

header{
	display:none;
}

#battleText{
	font-family: 'Concert One' , cursive;
	color: red;
}

.container {
	position:relative;
	z-index:3;
	height: 100%;
	bottom:0;
}

.jumbotron {
	background-color: white;
}
 .card-img-top {
 	width:55%;
 }

 #hiddenDiv {
 	display:none;
 	border: 3px solid black;
 	border-radius: 3px;
 	background-image: url("../images/stage.png");
 	background-size: 100% 100%;
 	background-repeat: no-repeat;
 	position: relative;
 }

 #pokemon1 {
 	margin-right:10%;
 	margin-bottom:4em;
 }

 #pokemon2Img {
 	margin-left:55%;
 }

 #pokemon2Img {
 	width:8em;
 }

 .moveList {
 	margin-top:10.5%;
 	margin-left:11%;
 	margin-right:11%;
 }

.firstRow {
	height:10em;
}

#atk1 {
	width:50%;
	border: 2px solid black;
}

#atk2 {
	width:50%;
	border: 2px solid black;
}

.secondRow {
	height:10em;
}

#atk3 {
	width:50%;
	border: 2px solid black;
}

#atk4 {
	width:50%;
	border: 2px solid black;
}

